*{
    margin: 0px;
    padding: 0px;
    font-family: 'Encode Sans Expanded';
}

body{
    width: 1000px;
    margin: 0 auto;
}

#main_content {
    height: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], select {
    height: 14px; 
    margin-left: 10px;
    font-size: 11px;
    border: 1px solid #819ebc;
}

 body>header {
    width: 100%;
    height: 110px;
    margin-top: 10px;
    overflow: hidden;
}

body>header>section {
    height: 100%;
    max-height: 100%;
    float: left; 
}

#h_logo {
    width: 22%;
    text-align: center;
    color: #386c93;
    font-weight: bold;
    font-size: 15px;
    padding-top: 3px;
}

#h_signup {
    width: 34%;
}

#h_signup>div {
    border: 1px solid #83beea;
    border-radius: 10px;
    padding: 12px 15px 8px 15px;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    background-color: #f9fafc;
    box-shadow: 0px 0px 10px 5px #cfe4f5 inset;
}

#h_signup h4 {
    font-weight: bold;
    font-size: 16px; 
}

#h_signup>div>div {
    margin-top: 5px;
}

#h_signup a {
    color: #f99b09;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.red_color {
    color: #ff0037;
}

#h_shopping {
    width: 29%;
    font-size: 11px;
    font-weight: bold;
    color: #386c93;
}

#h_shopping>div {
    margin-left: 14px;
    margin-top: 23px;
}

#h_shopping>div>div {
    margin-top: 12px;
    margin-bottom: 12px;
}

#h_shopping a, #h_shopping p {
    font-size: 10px;
    font-weight: normal;
}

#h_shopping_cart {
    float: right;
    padding-left: 7px;
    margin-right: 98px;
    border-left: 1px solid #386c93;
}

#h_shopping_number {
    height: 10px;
    margin-right: 55px;
}

#h_shopping_number p {
    float: right;
}

#zip_code {
    margin-left: 5px;
    width: 100px;
}

#h_image {
    width: 15%;
}

 .horisontal_field {
    height: 20px;
    background-image: linear-gradient(#6aa4db, #3464bd);
    border-radius: 7px;
    font-size: 0.7em;
    color: #ffffff;
    overflow: hidden;
}

.horisontal_field a {
    color: #ffffff;
    text-decoration: none;
}

.horisontal_field>section {
    height: 100%;
    padding: 1px 10px 0px 10px;
}

.horisontal_field div {
    margin-top: 1px;
}

.hor_fld_right_algn {
    float: right;
    margin-left: 30px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

/* .horisontal_field input:not([type="button"]) {
    height: 13px; 
    margin-left: 10px;
    font-size: 11px;
}  */

.horisontal_field input {
    margin-top: 1px;
} 

.horisontal_field select {
    height: 17px;
    font-size: 11px;
}

.links_line_h>div{
    float: left;
}

.orangeball {
    padding: 0px 3px 0px 3px;
    margin-right: 6px;
    margin-left: 6px;
    background-color: #f99b09;
    font-family: "Lucida console";
    font-size: 15px;
    font-weight: bold;  
    color: #ffffff;
    border-radius: 20px;
    /* float: left; */
    border-style: hidden;
}

.orandebutton {
    width: 220px;
    height: 35px;
    padding-bottom: 2px;
    background-color: #f99b09;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    border-style: hidden;
}

.orandebutton:hover,
.orangeball[type="button"]:hover,
.orangeball[type="submit"]:hover {
    background-color: #fcb111;
    cursor: pointer;
}

.links_line_h>div{
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid;
}

.links_line_h>div:last-child{
    border-right: none;
}

aside{
    width: 196px;
    height: 100%;
    background-color: #e8f0f8;
    font-size: 0.7em;
    font-weight: bold;
    float:left;
}

aside>section {
    margin-bottom: 22px;
}

aside p {
    padding: 6px 10px 6px 0px;
}

aside>section p {
    border-top: 1px solid #dbdbdb;
}

aside>section>header {
    background-image: linear-gradient(#6aa4db, #a1d8e0);
    font-size: 1.6em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
}

aside>footer {
    margin-top: 8px;
}

aside>footer:hover, aside>section>div:hover {
    background-color: #d5e4f1;
    cursor: pointer;
}

article {
    width: 797px;
    margin-left: 7px;
    float: left;
}

#product_main {
    width: 100%;
    margin-top: 25px;
}

#product_main>header>a {
    float: right;
    font-size: 0.7em;
}

#product_main>header>h1 {
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #386c93;
}

#product_main>section {
    border: 1px solid #bebdbd;
    height: 343px;
    margin-top: 7px;
}

#product_main>section>section {
    /* width: 50%; */
    height: 100%;
    float: left;
}

#product_main_left {
    width: 382px;
}

#product_main_left>header {
    border-bottom: 1px solid #bebdbd;
}

#product_main_left>section {
    width: 100%;
    height: 248px;
}

#product_main_left>nav {
    height: 74px;
    overflow: hidden;
}

.thumbnails_list {
    width: 298px;
    overflow: hidden;
}

.thumbnails_list input {
    border-style: hidden;
}

.thumbnails_list>input {
    height: 72px;
    font-size: 14px;
    background-color: #ffffff;
}

.thumbnails_list>section {
    width: 270px;
}

.thumbnails_list>section>div {
    padding: 16px 0px 0px 3px;
}

.thumbnails_list>section input {
    width: 64px;
    height: 42px;
    margin: 0px;
}

.thumbnails_list>section input[name="thumb01"] {
    background-image: url("resources/thumbnails/thumbnail01.png");
}

.thumbnails_list>section input[name="thumb02"] {
    background-image: url("resources/thumbnails/thumbnail02.png");
}

.thumbnails_list>section input[name="thumb03"] {
    background-image: url("resources/thumbnails/thumbnail03.png");
}

.thumbnails_list>section input[name="thumb04"] {
    background-image: url("resources/thumbnails/thumbnail04.png");
}

.image_view_control>input {
    width: 84px;
    height: 37px;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #bebdbd;
}

.image_view_control>input[name="zoom"] {
    background-image: url("resources/btn_zoom.png");
}

.image_view_control>input[name="enlarge"] {
    background-image: url("resources/btn_enlarge.png");
}



#product_additionaly {
    width: 100%;
    margin-top: 7px;
}

body>footer {
    font-size: 0.65em;
    color: #909090; 
}

body>footer>section {
    width: 100%;
    height: 27px;
    margin-top: 12px;
}

body>footer>section a {
    color: #909090;
    text-decoration: none;
}

body>footer div {
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: #606060;
}
/* #83beea */