* {
    margin: 0;
    padding: 0;
}

body {
    /* width: 1000px; */
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

nav {
    height: 50px;
    background-color: #da56ae;
}

header {
    height: 100px;
    background-color: #5d83c9;
}

section {
    width: 60%;
    height: 300px;
    float: left;
    background-color: green;
}

aside {
    width: 40%;
    height: 300px;
    float: left;
    background-color: lightgreen;
}

footer {
    background-color: blanchedalmond;
}