*{
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainCanvas {
    border: 4px solid rgb(3, 17, 26);
}